*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: blueviolet;
    color: white;
}
h1{
   text-align: center;
   font-size: 35px;
   text-transform: capitalize;

}
.watch{
    text-align: center;
    background-color: aqua;
    width: 100%;
    max-width: 360px;
    margin: 4rem auto;
    padding: 1rem 2rem;
    border-radius: 1rem;
}
.time{
    font-size: 5rem;
    margin-bottom: 1rem;
    font-weight: 300;
}
.control{
    display: flex;
    align-items: center;
    justify-content: center;
}
.control button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    color: whitesmoke;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: 0.4s;
    background-color: brown;
}
.button:hover{
    opacity: 0.7rem;
}
.button:active{
    background-color: aqua;
}



